nav {
  height: 100%;

  background-color: var(--secondary-color);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  .header {
    img {
      height: 60px;
    }
  }

  .main {
  }

  footer {
    .chevron {
      color: #009d09;
      padding: 10px;
      display: block;
      height: 34px;
      svg {
        height: 100%;
        object-fit: contain;
        width: 100%;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%;

      a {
        color: var(--white);
        text-decoration: none;
        transition: 0.3s;
        margin: 0.5em 1em;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 10px;
        &:hover {
          transition: 0ms;
          background-color: unset;
          outline: 2px solid #009d09;
          color: #009d09;
        }
        svg {
          margin-right: 5px;
        }
        span {
          transition: 0.3s;
          max-width: 300px;
          max-height: 100px;
          opacity: 1;
          overflow: unset;
          white-space: nowrap;
        }
      }
    }
    .active {
      background-color: unset;
      outline: 2px solid #009d09;
      color: #009d09;
    }
  }
  .menu-item {
    .menu-icon {
    }
  }
}
